{% load static %} 

<div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ms-auto">
        <div>
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</div>
<div class="app-header__mobile-menu">
    <div>
        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</div>
<div class="app-header__menu">
    <span>
        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
            <span class="btn-icon-wrapper">
                <i class="fa fa-ellipsis-v fa-w-6"></i>
            </span>
        </button>
    </span>
</div>
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu" id="sidebar-menu">
            <!-- Dashboard -->

            <li class="app-sidebar__heading">MENU</li>

            <li>
                <a href="{% url 'core:home' %}">
                    <i class="metismenu-icon pe-7s-home"></i>
                    Dashboard
                </a>
            </li>

            <!-- Students Management -->
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-study"></i>
                    Students
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'students:student_list' %}">
                            <i class="metismenu-icon"></i>
                            Students Directory
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'students:student_create' %}">
                            <i class="metismenu-icon"></i>
                            New Admission
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="metismenu-icon"></i>
                            Guardians
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="metismenu-icon"></i>
                            Dormitories
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Staff Management -->
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-users"></i>
                    Human Resources
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <!-- HR Dashboard -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            HR Dashboard
                        </a>
                    </li>

                    <!-- Staff -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Staff Directory
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Add New Staff
                        </a>
                    </li>

                    <!-- Teachers -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Teachers
                        </a>
                    </li>

                    <!-- Departments -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Departments
                        </a>
                    </li>

                    <!-- Designations -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Designations
                        </a>
                    </li>

                    <!-- Contracts -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Contracts
                        </a>
                    </li>

                    <!-- Contract Types -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Contract Types
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Academic Management -->
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-study"></i>
                    Academic Structure
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>

                <ul>
                    <!-- Academic Dashboard -->
                    <li>
                        <a href="{% url 'academics:dashboard' %}">
                            <i class="metismenu-icon"></i>
                            Academic Dashboard
                        </a>
                    </li>

                    <!-- Academic Sessions -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Academic Sessions
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:session_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Sessions
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:session_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Session
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Academic Levels -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Academic Levels
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:level_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Levels
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:level_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Level
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Classes -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Classes
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:class_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Classes
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:class_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Class
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Classrooms -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Classrooms
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:classroom_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Classrooms
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:classroom_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Classroom
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subjects -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Subjects
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:subject_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Subjects
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:subject_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Subject
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Class Subjects -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Class Subjects
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:class_subject_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Class Subjects
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:class_subject_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Assign Subject
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Student Enrollments -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Student Enrollments
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:enrollment_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Enrollments
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:enrollment_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Enroll Student
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:bulk_enrollment' %}">
                                    <i class="metismenu-icon"></i>
                                    Bulk Enrollment
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Academic Progress -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Academic Progress
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:progress_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Progress Records
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:progress_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Progress
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Holidays & Breaks -->
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>
                            Holidays & Breaks
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'academics:holiday_list' %}">
                                    <i class="metismenu-icon"></i>
                                    All Holidays
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'academics:holiday_create' %}">
                                    <i class="metismenu-icon"></i>
                                    Create Holiday
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- System Administration -->
            <li class="app-sidebar__heading">COMPONENTS</li>

            <li>
                <a href="{% url 'accounts:user_account_settings' %}">
                    <i class="metismenu-icon pe-7s-user"></i>
                    Account Settings
                </a>
            </li>

            <li>
                <a href="{% url 'accounts:logout' %}">
                    <i class="metismenu-icon pe-7s-power"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>